---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body {
  // font-family: "Roboto",sans-serif;
  font-size: 16px;
  // font-family: sans-serif;
  // font-family: "Libre Franklin", sans-serif;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

h2 {
    margin-top: 3px;
}

ul + h2 {
    margin-bottom: 0px;
}

.masthead {
  font-size: 22px;
}

.sidebar {
  opacity: 1;
}

td {
  font-size: 14px;
  border: transparent;
}

td.date-cell {
  text-align: right;
  font-size: 14px;
}

table {
  border-right:solid 20px transparent;
}

// Footnotes styling
.footnotes {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid #e0e0e0;
  font-size: 15px;
  
  ol {
    padding-left: 1.5em;
    margin-left: 0;
  }
  
  li {
    margin-bottom: 0.5em;
  }
}

